# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.idea/
.vscode/

# ======================
# Logs
# ======================
*.log

# ======================
# Qt / Cache
# ======================
*.qmlc
*.jsc
